# Files and directories created by pub
.packages
src/.pub/
src/build/
# Remove the following pattern if you wish to check in your lock file
src/pubspec.lock

# Directory created by dartdoc
doc/api/

frontend.iml
