@font-face {
    font-family: 'Work Sans Medium';
    src: url('fonts/work-sans/fonts/webfonts/woff2/WorkSans-Medium.woff2') format('woff2');
    src: url('fonts/work-sans/fonts/webfonts/woff/WorkSans-Medium.woff') format('woff');
    src: url('fonts/work-sans/fonts/webfonts/ttf/WorkSans-Medium.ttf') format('ttf');
}

body {
    max-width: 100%;
    background-color: white;
    color: black;
}

* {
    font-family: 'Work Sans Medium', Helvetica, Arial, sans-serif;
}

.fa-circle {
    color: #0275d8;
}