@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
    max-width: 100%;
    background-color: white;
    color: black;
}

* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.fa-circle {
    color: #0275d8;
}